<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<title>Personnel Receipting</title>
<link rel="stylesheet " type="text/css" href="/cfms-web/css/style2_receipt.css">
<link rel="stylesheet" type="text/css" href="/cfms-web/css/table_receipting.css">
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

$(document).ready(function(){
  $("#myInput_Trace").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#transaction_tracing_result div").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>
</head>
<body onload="getAllFundAccounts()">
<div class="container">
<div class="navigation">
	<ul>
		<li>
		<a href="#">
		<span class="icon"><ion-icon name="home-outline"></ion-icon></span>
		<span class="icon" >Home</span>
		</a>
		</li>
		<li id="dash">
		<a th:href="@{personnel_dashboard(p=${Phone},q=${Password},r=${Username})}">
		<span class="icon"><ion-icon name="speedometer-outline"></ion-icon></span>
		<span class="title">Dashboard</span>
		</a>
		</li>
		<li>
		<a th:href="@{personnel_register(p=${Phone},q=${Password},r=${Username})}">
		<span class="icon"><ion-icon name="newspaper-outline"></ion-icon></span>
		<span class="title">Registration</span>
		</a>
		</li>
		<li>
		<a th:href="@{manage_accounts(p=${Phone},q=${Password},r=${Username})}">
		<span class="icon"><ion-icon name="archive-outline"></ion-icon></span>
		<span class="title">Manage Accounts</span>
		</a>
		</li>
		<li>
		<a th:href="@{fund_transfer(p=${Phone},q=${Password},r=${Username})}">
		<span class="icon"><ion-icon name="cash-outline"></ion-icon></span>
		<span class="title">Fund Transfers</span>
		</a>
		</li>
		<li>
		<a th:href="@{reports(p=${Phone},q=${Password},r=${Username})}">
		<span class="icon"><ion-icon name="bar-chart-outline"></ion-icon></span>
		<span class="title">Reports and Statements</span>
		</a>
		</li>
		<li>
		<a th:href="@{personnel_receipting(p=${Phone},q=${Password},r=${Username})}">
		<span class="icon"><ion-icon name="stats-chart-outline"></ion-icon></span>
		<span class="title">Receipting and Reconciliation</span>
		</a>
		</li>
		<li>
		<a href="#">
		<span class="icon"><ion-icon name="pie-chart-outline"></ion-icon></span>
		<span class="title">Budget and Expenditure</span>
		</a>
		</li>
		<li>
		<a href="#">
		<span class="icon"><ion-icon name="cog-outline"></ion-icon></span>
		<span class="title">Support Options</span>
		</a>
		</li>
		<li>
		<a th:href="@{/authenticate/login}">
		<span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
		<span class="title">Sign Out</span>
		</a>
		</li>
	</ul>
</div>
	<!-- main -->
	<div class="main">
		<div class="topbar">
			<div class="toggle">
			<ion-icon name="menu-outline" id="toggle_button"></ion-icon>
			</div>

			<!-- Search -->
			<div class="search">
				<h1 style="font-size:16px;">Personnel Receipting</h1>
			</div>
			
			<!-- userImg -->
			<div class="user">
				<img src="/cfms-web/images/cfmsLogo.png">
			</div>
		</div>

		<div class="cardBox">
			<div class="card" style="background-color:#24478f;color:white;" onclick="showCashReceipting()">
				<div>
					<div class="cardName">Receipting</div>
				</div>
			</div>
			<div class="card" style="background-color:#24478f;color:white;" onclick="showReconciliation()">
				<div>
					<div class="cardName">Reconciliation</div>
				</div>
			</div>
			<div class="card" style="background-color:#24478f;color:white;" onclick="showTransactionTracing()">
				<div>
					<div class="cardName">Transaction Tracing</div>
				</div>
			</div>
		</div>

		<input type="hidden" name="username" id="username" th:value="${personnel_name}">
		<input type="hidden" name="password" id="password" th:value="${personal_password}">
		<input type="hidden" name="phone_number" id="phone_number" th:value="${personal_no}">
		<input type="hidden" name="church_code" id="church_code" th:value="${church_code}">
		
		<!-- Order Details List -->
		<div class="details">
			<div class="recentOrders">
				<div id="cash_receipting">
					<div class="cardHeader">
						<h2 style="text-align:center;">Cash Receipting</h2>
						<div class="responseDiv" style="display:none;"></div>
					</div>
					<!--<button type="button" class="btn" onclick="goBackToReceipting()" style="float:right;">Back</button>-->
					<br>
					<hr>
				
					<table>
					  <tbody>
							<tr>
								<td colspan="4" style="padding-top:10px;"><b>Select a Contributor Type</b></td>
							</tr>
							<tr>
								<td>
									  <input class="form-check-input" type="radio" name="flexRadioDefault3" id="church_member">
									  <label class="form-check-label" for="church_member">
										Church Member
									  </label>
								  </td>
							</tr>
							<tr>
								  <td colspan="2">
									  <input class="form-check-input" type="radio" name="flexRadioDefault3" id="visiting_member">
									  <label class="form-check-label" for="visiting_member">
										Visiting Member
									  </label>	
								  </td>
							</tr>
							<tr>
								  <td>
									  <input class="form-check-input" type="radio" name="flexRadioDefault3" id="guest">
									  <label class="form-check-label" for="guest">
										Guest
									  </label>
								  </td>
							</tr>
							<tr>
								  <td colspan="2">
									  <input class="form-check-input" type="radio" name="flexRadioDefault3" id="group">
									  <label class="form-check-label" for="group">
										Group
									  </label>	
								  </td>
							</tr>
							<tr>
								  <td>
									  <input class="form-check-input" type="radio" name="flexRadioDefault3" id="family">
									  <label class="form-check-label" for="family">
										Family
									  </label>
								  </td>
							</tr>
							<tr>
								  <td colspan="2">
									  <input class="form-check-input" type="radio" name="flexRadioDefault3" id="department">
									  <label class="form-check-label" for="department">
										Department
									  </label>	
								  </td>
							</tr>
							<tr>
								  <td colspan="2">
									  <input class="form-check-input" type="radio" name="flexRadioDefault3" id="institution">
									  <label class="form-check-label" for="institution">
										Institution
									  </label>	
								  </td>
							</tr>
							<tr>
								<td><button type="button" class="btn" onclick="receiptingFunction()">Proceed</button></td>
							</tr>
					  </tbody>
					</table>
				</div>
				<div id="all_members" style="display:none;">
					<div class="cardHeader">
						<h2>Search Members</h2>
					</div>
					<button type="button" class="btn" onclick="goBackToReceipting()" style="float:right;">Back</button>
					<input type="text" placeholder="Search here" id="myInput">
					<br>
					<div class="responseDiv" style="display:none;"></div>
					<br>
					<hr>
					<table>
						<thead>
						</thead>
						<tbody id="myTable">
						<tr tabindex="0" th:each="members : ${Members}">
							<td class="con" th:onclick='getMemberName([[${members.name}]],[[${members.churchNumber}]],[[${members.phoneNumber}]])'><span class='left' th:text="${members.phoneNumber}"></span>
								<span class='right' th:text="${members.name}"></span><br><br>
								<span class="left-below" th:text="${members.churchNumber}"></span>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				
				
				
			<div id="home_church_others" style="display:none;">
				<div class="cardHeader">
					<h2 style="text-align:center;margin-top:10px;margin-bottom:10px">Cash Receipting for Visitor</h2>
					<div class="responseDiv" style="display:none;"></div>
				</div>
				<br>
				<hr>
				<table>
					<tbody>
						<tr>
							<td><label class="label_input" for="visitor_phone"><b> Phone Number: </b></label></td>
							<td><input type="text" id="visitor_phone" name="visitor_phone" placeholder="Phone Number"></td>
						</tr>					
				<tr>
					<td><button type="button" class="btn" onclick="goBackToReceipting()">Back</button>
						<button type="button" class="btn" onclick="checkVisitorName()">Submit</button></td>
				</tr>
				</table>				
			</div>
			
			
			<div id="home_church_others1" style="display:none;">
				<div class="cardHeader">
					<h2 style="text-align:center;margin-top:10px;margin-bottom:10px">Cash Receipting for Guest</h2>
					<div class="responseDiv" style="display:none;"></div>
				</div>
				<br>
				<hr>
				<table>
					<tbody>
						<tr>
							<td><label class="label_input" for="guest_name"><b> Guest Name: </b></label></td>
							<td><input type="text" id="guest_name" name="guest_name" placeholder="Name"></td>
						</tr>
						<tr>
							<td><label class="label_input" for="guest_phone"><b> Guest Phone Number: </b></label></td>
							<td><input type="text" id="guest_phone" name="guest_phone" placeholder="Phone Number"></td>
						</tr>						
				<tr>
					<td><button type="button" class="btn" onclick="goBackToReceipting()">Back</button>
						<button type="button" class="btn" onclick="checkGuestName()">Submit</button></td>
				</tr>
				</table>				
			</div>
			
			<div id="home_church_others2" style="display:none;">
				<div class="cardHeader">
					<h2 style="text-align:center;margin-top:10px;margin-bottom:10px">Cash Receipting for Group</h2>
					<div class="responseDiv" style="display:none;"></div>
				</div>
				<br>
				<hr>
				<table>
					<tbody>
						<tr>
							<td><label class="label_input" for="group_phone"><b> Phone Number: </b></label></td>
							<td><input type="text" id="group_phone" name="group_phone" placeholder="Phone Number"></td>
						</tr>					
				<tr>
					<td><button type="button" class="btn">Submit</button></td>
				</tr>
				</table>				
			</div>
			
			
			<div id="home_church_others3" style="display:none;">
				<div class="cardHeader">
					<h2 style="text-align:center;margin-top:10px;margin-bottom:10px">Cash Receipting for Family</h2>
					<div class="responseDiv" style="display:none;"></div>
				</div>
				<br>
				<hr>
				<table>
					<tbody>
						<tr>
							<td><label class="label_input" for="family_phone"><b> Phone Number: </b></label></td>
							<td><input type="text" id="family_phone" name="family_phone" placeholder="Phone Number"></td>
						</tr>					
				<tr>
					<td><button type="button" class="btn">Submit</button></td>
				</tr>
				</table>				
			</div>
			
			<div id="home_church_others4" style="display:none;">
				<div class="cardHeader">
					<h2 style="text-align:center;margin-top:10px;margin-bottom:10px">Cash Receipting for Department</h2>
					<div class="responseDiv" style="display:none;"></div>
				</div>
				<br>
				<hr>
				<table>
					<tbody>
						<tr>
							<td><label class="label_input" for="department_phone"><b> Phone Number: </b></label></td>
							<td><input type="text" id="department_phone" name="department_phone" placeholder="Phone Number"></td>
						</tr>					
				<tr>
					<td><button type="button" class="btn">Submit</button></td>
				</tr>
				</table>				
			</div>
			
			<div id="home_church_others5" style="display:none;">
				<div class="cardHeader">
					<h2 style="text-align:center;margin-top:10px;margin-bottom:10px">Cash Receipting for Institution</h2>
					<div class="responseDiv" style="display:none;"></div>
				</div>
				<br>
				<hr>
				<table>
					<tbody>
						<tr>
							<td><label class="label_input" for="institution_phone"><b> Phone Number: </b></label></td>
							<td><input type="text" id="institution_phone" name="institution_phone" placeholder="Phone Number"></td>
						</tr>					
				<tr>
					<td><button type="button" class="btn">Submit</button></td>
				</tr>
				</table>				
			</div>

			<div class="loader" id="loader_spin_receipting" style="display:none;"></div>
			<div id="trust_funds_div" style="display:none;"></div>
			<div id="receipted_data"></div>
			<div class="loader" id="loader_spin_receipting1" style="display:none;"></div>
			<div id="trust_funds_div_edit"></div>
			<div id="edit_receipt_select"></div>
			<div id="receipted_edit"></div>
			<div id="trust_funds_div_edited"></div>
			<div class="loader" id="loader_spin_receipting2" style="display:none;"></div>

			<div id="member_edited_receipts" style="display:none;">
				<p>You can only edit an unreconciled transaction. Select the transaction date range to proceed</p>
				<p id="member_name_edited"></p>
				<p id="member_phone_edited"></p>
				<p id="member_id_edited"></p>
			</div>
			<div id="payment_div" style="display:none;">
				
					<table>
							<tr>
								<td colspan="4" style="padding-top:10px;"><b>Initiate Payment From:</b></td>
							</tr>
							<tr>
								<td colspan="2">
									  <input class="form-check-input" type="radio" name="flexRadioDefault4" id="registered_number">
									  <label class="form-check-label" for="visiting_member">
										My Registered Number
									  </label>
								</td>
							</tr>
							<tr>
								  <td style="text-align:left;">
									  <input class="form-check-input" type="radio" name="flexRadioDefault4" id="my_other_number">
									  <label class="form-check-label" for="guest">
										My Other Number
									  </label>	
								  </td>
							</tr>
							<tr>
								  <td>
									  <input class="form-check-input" type="radio" name="flexRadioDefault4" id="other_number">
									  <label class="form-check-label" for="other_number">
										Other Number
									  </label>
								  </td>
							</tr>
							<tr>
								<td><br></td>
							</tr>
							<tr>
								<td><br><p id="payment_line"></p></td>
							</tr>
							<tr>
								<td><button type="button" class="btn" onclick="">Confirm</button></td>
							</tr>							
					</table>
				
			</div>
			<div id="transaction_tracing" style="display:none;">
				<div class="cardHeader">
					<h2 style="text-align:center;margin-top:10px;margin-bottom:10px">Transaction Tracing</h2>
				</div>
				<br>
				<hr>
				<table>
					<tbody>
						<tr>
							<td colspan="2">From Date</td>
							<td colspan="2">To Date</td>
						</tr>
						<tr>
							<td colspan="2"><input type="date" id="start_date" name="start_date"></td>
							<td colspan="2"><input type="date" id="end_date" name="end_date"></td>
						</tr>
						<tr>
							<td>Trace Transaction By</td>
						</tr>
						<tr>
							<td colspan="2">
								<input class="form-check-input" type="radio" name="transaction_trace" id="phone_number_trace" onclick="showMoreDetails()">
								<label class="form-check-label" for="phone_number_trace">
									Phone Number
								</label>
							</td>
							<td colspan="2">
								<input class="form-check-input" type="radio" name="transaction_trace" id="receipt_number_trace" onclick="showMoreDetails()">
								<label class="form-check-label" for="receipt_number_trace">
									Receipt Number
								</label>
							</td>
						</tr>
					</table>
					<div id="associated_phone_div">
						<table>
							<tbody>
							<tr>
								<td><label class="label_input" for="department_phone"><b> Associated Phone Number</b></label></td>
								<td><input type="text" id="associated_phone_number" name="associated_phone_number" placeholder="Phone Number"></td>
							</tr>
							<tr>
								<td><button type="button" class="btn" onclick="traceTransactionPhone()">Submit</button></td>
							</tr>
							</tbody>
						</table>
					</div>
					<div id="associated_receipt_div" style="display:none;">
						<table>
							<tbody>
							<tr>
								<td><label class="label_input" for="department_phone"><b> Associated Receipt Number</b></label></td>
								<td><input type="text" id="associated_receipt_number" name="associated_receipt_number" placeholder="Receipt Number"></td>
							</tr>
							<tr>
								<td><button type="button" class="btn" onclick="traceTransactionReceipt()">Submit</button></td>
							</tr>
							</tbody>
						</table>
					</div>
					<br>
					<hr>
					<div class="loader" id="loader_spin_tracing" style="display:none;"></div>
					<div id="content_phone"></div>
					<div id="content_receipt"></div>
				</div>

				<!-- Reconciliation -->
				<div id="cash_reconciliation" style="display:none;">
				</div>
			</div>
			

			<div class="recentCustomers">
                <div id="add_button" style="display:none;">
                    <div class="cardHeader">
                        <h2 style="text-align:center;margin-top:10px;">Edit Previous Receipt</h2>
                    </div>
                    <table width="100%" style="border-collapse: separate;">
                        <tbody>
							<tr onclick="editSubmittedReceipts()">
								<td class="btn-add">Edit Receipt</td>
							</tr>
                        </tbody>
                    </table>
                </div>
                <br>
				<hr>
				<div id="about_app">
					<div class="cardHeader">
						<h2 style="text-align:center;margin-top:10px;">About App</h2>
					</div>
					<table width="100%">
						<tbody>
							<tr>
								<td><ion-icon name="aperture-outline" class="icons"></ion-icon></td>
								<td><a href="" class="linkers">SDA CFMS</a></td>
							</tr>
							<tr>
								<td><ion-icon name="bookmarks-outline" class="icons"></ion-icon></ion-icon></td>
								<td colspan="2"><a href="" class="linkers">FAQ</a></td>
							</tr>
							<tr>
								<td><ion-icon name="cloud-done-outline" class="icons"></ion-icon></td>
								<td><a href="https://lakeatts.co.ke/data_privacy.html" class="linkers">Privacy Policy</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		
			

	</div>
	
	
</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="myChart.js"></script>
<script src="/cfms-web/js/member_receipting.js"></script>

<script type="text/javascript">
let toggle = document.querySelector('.toggle');
let navigation = document.querySelector('.navigation');
let main = document.querySelector('.main');

toggle.onclick = function(){
	navigation.classList.toggle('active');
	main.classList.toggle('active');
}

// add hovered class in selected list item
let list = document.querySelectorAll('.navigation li');
	function activeLink(){
	list.forEach((item) =>
		item.classList.remove('hovered'));
		this.classList.add('hovered');
	}
	list.forEach((item) =>
	item.addEventListener('mouseover',activeLink));
</script>
</body>
</html>