<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Reports and Statements</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet " type="text/css" href="/cfms-web/css/style2.css">
<link rel="stylesheet " type="text/css" href="/cfms-web/css/table_statement.css">
</head>
<style>
</style>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
$(document).ready(function(){
  $("#myInput2").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable1 tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
$(document).ready(function(){
  $("#myInput_member").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable_member tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>
<body>
<div class="container">
<div class="navigation">
	<ul>
		<li>
		<a href="#">
		<span class="icon"><ion-icon name="home-outline"></ion-icon></span>
		<span class="icon" >Home</span>
		</a>
		</li>
		<li id="dash">
		<a th:href="@{personnel_dashboard(p=${Phone},q=${Password},r=${Username},s=${user_pin})}">
		<span class="icon"><ion-icon name="speedometer-outline"></ion-icon></span>
		<span class="title">Dashboard</span>
		</a>
		</li>
		<li>
		<a th:href="@{personnel_register(p=${Phone},q=${Password},r=${Username},s=${user_pin})}">
		<span class="icon"><ion-icon name="newspaper-outline"></ion-icon></span>
		<span class="title">Registration</span>
		</a>
		</li>
		<li>
		<a th:href="@{manage_accounts(p=${Phone},q=${Password},r=${Username},s=${user_pin})}">
		<span class="icon"><ion-icon name="archive-outline"></ion-icon></span>
		<span class="title">Manage Accounts</span>
		</a>
		</li>
		<li>
		<a th:href="@{fund_transfer(p=${Phone},q=${Password},r=${Username},s=${user_pin})}">
		<span class="icon"><ion-icon name="cash-outline"></ion-icon></span>
		<span class="title">Fund Transfers</span>
		</a>
		</li>
		<li>
		<a th:href="@{personnel_reports(p=${Phone},q=${Password},r=${Username},s=${user_pin})}">
		<span class="icon"><ion-icon name="bar-chart-outline"></ion-icon></span>
		<span class="title">Reports and Statements</span>
		</a>
		</li>
		<li>
		<a th:href="@{personnel_receipting(p=${Phone},q=${Password},r=${Username},s=${user_pin})}">
		<span class="icon"><ion-icon name="stats-chart-outline"></ion-icon></span>
		<span class="title">Receipting and Reconciliation</span>
		</a>
		</li>
		<li>
		<a href="#">
		<span class="icon"><ion-icon name="pie-chart-outline"></ion-icon></span>
		<span class="title">Budget and Expenditure</span>
		</a>
		</li>
		<li>
		<a href="#">
		<span class="icon"><ion-icon name="cog-outline"></ion-icon></span>
		<span class="title">Support Options</span>
		</a>
		</li>
		<li>
		<a th:href="@{statement2(p=${Phone},q=${user_pin})}">
		<span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
		<span class="title">Sign Out</span>
		</a>
		</li>
	</ul>
</div>
	<!-- main -->
	<div class="main">
		<div class="topbar">
			<div class="toggle">
				<ion-icon name="menu-outline" id="toggle_button"></ion-icon>
			</div>

			<!-- Search -->
			<div class="search">
				<h2>Member Statement</h2>
			</div>
			
			<!-- userImg -->
			<div class="user">
				<img src="/cfms-web/images/cfmsLogo.png">
			</div>
		</div>

		<input type="hidden" name="username" id="username" th:value="${personnel_name}">
		<input type="hidden" name="password" id="password" th:value="${personal_password}">
		<input type="hidden" name="phone_number" id="phone_number" th:value="${personal_no}">
		<input type="hidden" name="user_pin" id="user_pin" th:value="${personnel_pin}">
		
		<!-- Order Details List -->
		<div class="details">
			<div class="recentOrders">
					<div id="member_statement">
							<div class="cardHeader">
								<h2 style="text-align:center;" th:text="|${member_name} Member Statement|"></h2>
							</div>
							<div class="responseDiv" style="display:none;"></div>
							<br>
							<hr>
							<table width="100%">
								<form action="/cfms-web/personnel/get-member-statement-pdf" method="get" id="member_statement_specific" onsubmit="exportStatement()">
									<input type="hidden" name="username" id="member_username" th:value="${personnel_name}">
									<input type="hidden" name="password" id="member_password" th:value="${personal_password}">
									<input type="hidden" id="phone_member" name="phone_number" th:value="${treasurer_no}">
									<input type="hidden" id="member_name" name="member_name" th:value="${member_name}">
									<input type="hidden" id="member_number" name="member_number" th:value="${member_number}">
									<tr>
										<td>From Date</td>
										<td>To Date</td>
									</tr>
									<tbody>
									<tr>
										<td width="50%"><input type="date" id="start_date_member" name="start_date_member" required></td>
										<td width="50%"><input type="date" id="end_date_member" name="end_date_member" required></td>
									</tr>
									<tr>
										<td>Pin</td>
									</tr>
									<td>
										<input type="text" id="pass_member" name="treasurer_pin" value="">
									</td>
									<tr>
										<td><button type="button" class="btn" onclick="getMemberSpecificOfferingStatement()">Generate Statement</button></td>
										<td style="text-align:right;"><button type="submit" class="btn">Export Statement</button></td>
									</tr>
									</tbody>
								</form>
							</table>
						<br><br>
						<hr>
						<div class="cardHeader">
							<input id="myInput_member" type="text" placeholder="Search Statement" style="width:50%;">
						</div>
						<br><br>
						<div class="loader" id="loader_spin_local_member" style="display:none;"></div>
						<div id="content2"></div>
				</div>
			</div>
			
			<!-- New Customers -->
			<div class= "recentCustomers">
				<hr>
				<div id="about_app">
					<div class="cardHeader">
						<h2 style="text-align:center;margin-top:10px;">About App</h2>
					</div>
					<table width="100%">
						<tbody>
						<tr>
							<td><ion-icon name="aperture-outline" class="icons"></ion-icon></td>
							<td><a href="" class="linkers">SDA CFMS</a></td>
						</tr>
						<tr>
							<td><ion-icon name="bookmarks-outline" class="icons"></ion-icon></ion-icon></td>
							<td colspan="2"><a href="" class="linkers">Frequently Asked Questions</a></td>
						</tr>
						<tr>
							<td><ion-icon name="cloud-done-outline" class="icons"></ion-icon></td>
							<td><a href="https://lakeatts.co.ke/data_privacy.html" class="linkers">Privacy Policy</a></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		
			

	</div>
	
	
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="myChart.js"></script>
<script src="/cfms-web/js/reports.js"></script>
<script src="/cfms-web/js/validate-report.js"></script>

<script type="text/javascript">
function getMonth(){
	var month = document.getElementById("select-month").value;
	var dated = month.split("-");
	console.log("Year: "+ dated[0]);
	console.log("Month: "+ dated[1]);
}

let toggle = document.querySelector('.toggle');
let navigation = document.querySelector('.navigation');
let main = document.querySelector('.main');

toggle.onclick = function(){
	navigation.classList.toggle('active');
	main.classList.toggle('active');
}

// add hovered class in selected list item
let list = document.querySelectorAll('.navigation li');
	function activeLink(){
	list.forEach((item) =>
		item.classList.remove('hovered'));
		this.classList.add('hovered');
	}
	list.forEach((item) =>
	item.addEventListener('mouseover',activeLink));
</script>
</body>
</html>